<div class="row">
    <div class="col-md-8">
        <div class="page-header">
            <h3>{{'ROOM' | translate}}: [ {{ vm.currentRoom._id }} ]</h3>
        </div>

        <button type="button" class="btn btn-warning" ng-click="vm.leaveRoom()">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>&nbsp;{{'LEAVE_ROOM' | translate}}
        </button>

        <h3>{{ vm.message }}</h3>

        <div ng-show="vm.activePoll">
            <h4>{{ vm.activePoll.title }}</h4>
            <form role="form" name="answerForm" ng-submit="vm.submitAnswers()" novalidate>
                <div class="panel panel-primary" ng-repeat="question in vm.activePoll.questions">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            {{ question.text }}
                        </h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group" ng-repeat="choice in question.choices track by $index">
                            <li class="list-group-item" ng-click="question.answer = $index"
                                ng-class="{'list-group-item-success': question.answer == $index}">
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="{{ question._id }}" value="{{$index}}"
                                               ng-model="question.answer" required ng-hide="true">{{ choice }}
                                    </label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <button type="submit" class="btn btn-success" ng-disabled="answerForm.$invalid">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;{{'SUBMIT' | translate}}
                </button>

            </form>
        </div>
    </div>
</div>
