<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="page-header text-center">
            <h3>{{'SIGNUP' | translate}}</h3>
        </div>
        <form role="form" name="signupForm" ng-submit="vm.signup()" autocomplete="off" novalidate>

            <div class="form-group"
                 ng-class="{ 'has-error' : signupForm.username.$invalid && !signupForm.username.$pristine}">
                <label for="username">{{'USERNAME' | translate}}</label>
                <input type="text" id="username" name="username" class="form-control" placeholder="{{'ENTER_USERNAME' | translate}}"
                       ng-model="vm.username"
                       required
                       ng-minlength="4"
                       ng-maxlength="20"
                       ng-pattern="/^[a-z0-9_-]*$/">

                <p ng-show="signupForm.username.$error.pattern" class="help-block">Only Latin characters, numbers, '-'
                    and '_' symbols</p>
                <p ng-show="signupForm.username.$error.minlength" class="help-block">At least 4 characters</p>
                <p ng-show="signupForm.username.$error.maxlength" class="help-block">Maximum 20 characters</p>
            </div>

            <div class="form-group" ng-class="{ 'has-error' : signupForm.name.$invalid && !signupForm.name.$pristine }">
                <label for="name">{{'NAME' | translate}}</label>
                <input type="text" id="name" name="name" class="form-control" placeholder="{{'ENTER_NAME' | translate}}"
                       ng-model="vm.name"
                       required
                       ng-minlength="4"
                       ng-maxlength="100">

                <p ng-show="signupForm.name.$error.minlength" class="help-block">At least 4 characters</p>
                <p ng-show="signupForm.name.$error.maxlength" class="help-block">Maximum 100 characters</p>
            </div>

            <div class="form-group"
                 ng-class="{ 'has-error' : signupForm.password.$invalid && !signupForm.password.$pristine }">
                <label for="password">{{'PASSWORD' | translate}}</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="{{'ENTER_PASSWORD' | translate}}"
                       ng-model="vm.password"
                       required
                       ng-minlength="3"
                       ng-pattern="/^[ A-Za-z0-9_@./#&+-]*$/">

                <p ng-show="signupForm.password.$error.required && !signupForm.password.$pristine" class="help-block">
                    Required field</p>
                <p ng-show="signupForm.password.$error.pattern" class="help-block">Only Latin characters, numbers, '-'
                    and '_' symbols</p>
                <p ng-show="signupForm.password.$error.minlength" class="help-block">At least 3 characters</p>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary" ng-disabled="signupForm.$invalid">{{'SIGNUP' | translate}}</button>
            </div>

            <div class="form-group has-error" ng-show="vm.signupFail">
                <p class="help-block">Signup fail</p>
            </div>

        </form>
    </div>
</div>
