<div class="row">
    <div class="col-md-12">
        <div class="page-header text-center">
            <h3>{{'USERS' | translate}}</h3>
        </div>

        <a ui-sref="addUser" class="btn btn-success pull-right">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;
        </a>
        <h4>{{ vm.users ? ('TOTAL' | translate) + ': ' + vm.users.length : vm.message }}</h4>

        <div ng-show="vm.users">
            <div class="table-responsive">
                <table class="table table-hover" ng-show="vm.users">
                <thead>
                <tr>
                    <th>{{'USERNAME' | translate}}</th>
                    <th>{{'ROLE' | translate}}</th>
                    <th>{{'CREATED' | translate}}</th>
                    <th>{{'ACTION' | translate}}</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="user in vm.users | startFrom:(vm.currentPage - 1) * vm.pageSize | limitTo: vm.pageSize">
                    <td>{{ user.username }}</td>
                    <td>{{ user.role }}</td>
                    <td>{{ user.createdAt | date:"dd.MM.yyyy" }}</td>
                    <td>
                        <a class="btn btn-warning" ui-sref="editUser({ id: user._id })">{{'EDIT' | translate}}</a>
                        <button class="btn btn-danger" ng-click="vm.removeUser(user._id)">{{'REMOVE' | translate}}</button>
                    </td>
                </tr>
                </tbody>
            </table>
            </div>

            <ul uib-pagination
                boundary-links="true"
                total-items="vm.users.length"
                ng-model="vm.currentPage"
                items-per-page="vm.pageSize"
                previous-text="&lsaquo;"
                next-text="&rsaquo;"
                first-text="&laquo;"
                last-text="&raquo;">
            </ul>
        </div>

    </div>
</div>
