<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="page-header text-center">
            <h3>{{ vm.user._id ? 'Update' : 'Add' }} user</h3>
        </div>
        <form role="form" name="vm.addUserForm" ng-submit="vm.saveUser(vm.user._id)" novalidate>

            <div class="form-group"
                 ng-class="{ 'has-error' : vm.addUserForm.username.$invalid && !vm.addUserForm.username.$pristine}">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" class="form-control" placeholder="Enter username"
                       ng-model="vm.user.username"
                       required
                       ng-minlength="4"
                       ng-maxlength="20"
                       ng-pattern="/^[a-z0-9_-]*$/">

                <p ng-show="vm.addUserForm.username.$error.pattern" class="help-block">Only Latin characters, numbers,
                    '-'
                    and '_' symbols</p>
                <p ng-show="vm.addUserForm.username.$error.minlength" class="help-block">At least 4 characters</p>
                <p ng-show="vm.addUserForm.username.$error.maxlength" class="help-block">Maximum 20 characters</p>
            </div>

            <div class="form-group"
                 ng-class="{ 'has-error' : vm.addUserForm.name.$invalid && !vm.addUserForm.name.$pristine }">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" class="form-control" placeholder="Enter name"
                       ng-model="vm.user.name"
                       required
                       ng-minlength="4"
                       ng-maxlength="100">

                <p ng-show="vm.addUserForm.name.$error.minlength" class="help-block">At least 4 characters</p>
                <p ng-show="vm.addUserForm.name.$error.maxlength" class="help-block">Maximum 100 characters</p>
            </div>

            <div class="form-group"
                 ng-class="{ 'has-error' : vm.addUserForm.password.$invalid && !vm.addUserForm.password.$pristine }">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="Enter password"
                       ng-model="vm.user.password"
                       required
                       ng-minlength="3"
                       ng-pattern="/^[ A-Za-z0-9_@./#&+-]*$/">

                <p ng-show="vm.addUserForm.password.$error.required && !vm.addUserForm.password.$pristine"
                   class="help-block">
                    Required field</p>
                <p ng-show="vm.addUserForm.password.$error.pattern" class="help-block">Only Latin characters, numbers,
                    '-'
                    and '_' symbols</p>
                <p ng-show="vm.addUserForm.password.$error.minlength" class="help-block">At least 3 characters</p>
            </div>

            <div class="checkbox">
                <label><input type="checkbox" ng-model="vm.user.role" ng-true-value="'{{vm.USER_ROLES.admin}}'"
                              ng-false-value="">Admin</label>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-success" ng-disabled="vm.vm.addUserForm.$invalid">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;Save
                </button>
                <button type="button" class="btn btn-warning" ng-click="vm.resetForm()"
                        ng-hide="vm.addUserForm.$pristine">
                    <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span> Reset
                </button>
            </div>
        </form>

    </div>
</div>
