<div class="row">
    <div class="col-md-12">
        <div class="page-header text-center">
            <h3>Categories</h3>
        </div>

        <a ui-sref="addCategory" class="btn btn-success pull-right">Add category</a>
        <h4>{{ vm.categories ? 'Total: '+ vm.categories.length : 'No categories' }}</h4>

        <div ng-show="vm.categories">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Category</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="category in vm.categories | startFrom:(vm.currentPage - 1) * vm.pageSize | limitTo: vm.pageSize">
                        <td>{{ category.title }}</td>
                        <td>
                            <a class="btn btn-warning" ui-sref="editCategory({ id: category._id })">Edit</a>
                            <button class="btn btn-danger" ng-click="vm.removeCategory(category._id)">Remove</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <ul uib-pagination
                boundary-links="true"
                total-items="vm.categories.length"
                ng-model="vm.currentPage"
                items-per-page="vm.pageSize"
                previous-text="&lsaquo;"
                next-text="&rsaquo;"
                first-text="&laquo;"
                last-text="&raquo;">
            </ul>

        </div>
    </div>
</div>
