<div class="row">
    <div class="col-md-3">
        <div ng-repeat="question in vm.activePoll.questions">
            <div google-chart chart="vm.chart_{{ question._id }}" style="width:100%;"></div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="page-header text-center">
            <h3>Manage</h3>
        </div>

        <a ui-sref="addPoll" class="btn btn-success">Add poll</a>
        <h4>Total: {{ vm.polls.length }}</h4>

        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th class="col-sm-2">Title</th>
                    <th class="col-sm-6">Questions</th>
                    <th class="col-sm-4">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="poll in vm.polls" ng-class="{'list-group-item-success': poll.active}">
                    <td>{{ poll.title }}</td>
                    <td>
                        <ol>
                            <li ng-repeat="question in poll.questions">
                                {{ question.text | limitTo:40 }} ...
                            </li>
                        </ol>
                    </td>
                    <td>
                        <div class="btn-group">
                            <button class="btn btn-success" ng-click="vm.startPoll(poll._id)" title="Start"
                                    ng-disabled="vm.activePoll">
                                <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                            </button>
                            <button class="btn btn-primary" ng-click="vm.stopPoll(poll._id)" title="Stop"
                                    ng-disabled="!poll.active">
                                <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
                            </button>
                            <a class="btn btn-warning" ui-sref="editPoll({ id: poll._id })" title="Edit"
                               ng-disabled="vm.activePoll">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                            </a>
                            <button class="btn btn-danger" ng-click="vm.removePoll(poll._id)" title="Remove"
                                    ng-disabled="vm.activePoll">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
