<div class="row">
    <div class="col-md-12">
        <div class="page-header text-center">
            <h3>{{ vm.poll.title }}</h3>
        </div>

        <button type="button" class="btn btn-warning" back-button>
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Back
        </button>
        <br><br>

        <p ng-show="vm.poll.description">
            <strong>Description</strong>: {{ vm.poll.description }}
            <br>
        </p>

        <h4 class="text-center">Questions</h4>

        <div ng-repeat="question in vm.poll.questions">
            <p><strong>Question #{{$index + 1}}</strong>: {{ question.text }}</p>

            <ul>
                <li ng-repeat="choice in question.choices">
                    {{ choice }}
                </li>
            </ul>
            <hr>
        </div>

    </div>
</div>
