<div class="row">
    <div class="col-md-12">
        <div uib-alert ng-repeat="alert in vm.alerts" ng-class="alert.type" close="alert.close()">{{alert.msg}}</div>
        <div class="page-header text-center">
            <h3>Users</h3>
        </div>

        <a ui-sref="addUser" class="btn btn-success pull-right">Add user</a>
        <h4>{{ vm.users ? 'Total: '+ vm.users.length : 'No users' }}</h4>

        <table class="table" ng-show="vm.users">
            <thead>
            <tr>
                <th>Username</th>
                <th>Name</th>
                <th>Role</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in vm.users | startFrom:(vm.currentPage - 1) * vm.pageSize | limitTo: vm.pageSize">
                <td>{{ user.username }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.role }}</td>
                <td>
                    <a class="btn btn-warning" ui-sref="editUser({ id: user._id })">Edit</a>
                    <button class="btn btn-danger" ng-click="vm.removeUser(user._id)">Remove</button>
                </td>
            </tr>
            </tbody>
        </table>

        <ul uib-pagination
            boundary-links="true"
            total-items="vm.users.length"
            ng-model="vm.currentPage"
            items-per-page="vm.pageSize"
            previous-text="&lsaquo;"
            next-text="&rsaquo;"
            first-text="&laquo;"
            last-text="&raquo;">
        </ul>

    </div>
</div>
